@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --BGCOLOR: #475569;
  --ALT-BGCOLOR: #1e293b;
  --RADIAL_COLOR: whitesmoke;
  --LIGHT_COLOR: whitesmoke;
  --DARK_COLOR: #000;

  --FF: "Nunito", sans-serif;
  --FS: 1.5rem;
  --FS-XL: 3rem;

  --PADDING: 0.5rem;
  --SHADOW: 0 6px 5px -5px var(--DARK_COLOR);
  --BORDER: 2px solid var(--DARK_COLOR);

  --SQUARE-BG-COLOR: papayawhip;
  --SQUARE-SIZE: max(150px, 20vw);
}
@media (prefers-color-scheme: dark) {
  :root {
    --BGCOLOR: #000;
    --ALT-BGCOLOR: #333;
    --RADIAL-COLOR: rgb(217,217,217);
    --SQUARE_BGCOLOR: purple;
  }
}
html {
    scroll-behavior: smooth;
}
body {
  font: var(--FS) var(--FF);
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  background-image: radial-gradient(var(--RADIAL_COLOR), var(--BGCOLOR));
  display: flex;
  flex-direction: column;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
header,
footer {
  position: sticky;
  background-color: var(--ALT-BGCOLOR);
  color: var(--LIGHT_COLOR);
  text-align: center;
}
header {
  top: 0;
}
nav {
  background-color: var(--LIGHT_COLOR);
  padding: var(--PADDING);
  border-bottom: var(--BORDER);
  font-weight: bolder;
  justify-content: space-evenly;
  box-shadow: var(--SHADOW);
  color: var(--DARK_COLOR);
}
main {
  flex-grow: 1;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  gap: min(4vw, 15px);
}
footer {
  bottom: 0;
}
.square-highlight {
  --SQUARE-BG-COLOR: cornflowerblue
}
.square {
  background-color: var(--SQUARE-BG-COLOR);
  width: var(--SQUARE-SIZE);
  height: var(--SQUARE-SIZE);
  border: 15px;
  display: grid;
  place-content: center;
  font-size: var(--FS-XL);
  box-shadow: var(--SHADOW);
}